* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

body {
    margin: 75px;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
}


ul {
    list-style-type: none;
    padding: 5rem 0;
}

li {
    padding-top: 25px;
    display: list-item;
    unicode-bidi: isolate;
}

#nav {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

#nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right; 
  transition: transform 0.25s ease;
  translate: 0 7px; 
}

#nav:hover::after {
  transform: scaleX(1);
  transform-origin: left; 
}

@media (max-width: 600px) {
    main {
        padding: 20px;
        gap: 15px;
    }

    a#link {
        flex: 1 1 100%;
        padding: 25px;
    }

    a#link h3 {
        font-size: 20px;
    }
}

#text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}